black==24.4.0
dvc
ensure==1.0.2
Flask
Flask-Cors
gdown
interrogate==1.7.0
isort==5.9.3
joblib
matplotlib
mlflow==2.2.2
notebook
numpy
pandas
pre-commit
pytest
python-box==6.0.2
pyYAML
scipy
seaborn
snakeviz
tensorflow==2.12.0
tqdm
types-PyYAML
